@layer fonts {
  @font-face {
    font-family: 'Red Hat Display';
    src: url('./../assets/fonts/red-hat-display.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300 900;
  }
}